* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
img {
    width: 100%;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #0b2239;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 140px;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #7f7d7d;
    
}
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: 9999;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
}

.about{
    background: url("C:/Users/austi/Downloads/kcau-vms-low-resolution-color-logo.jpeg") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #d39393;
    padding: 140px;
    box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #00999c;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}